{
  "exclude": [
    "node_modules/",
    "dist/",
    "dist-swc/",
    "public/",
    ".vscode/"
  ],
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true,
      "useDefineForClassFields": true
    },
    "target": "es2022",
    "loose": false,
    "keepClassNames": true,
    "baseUrl": "./"
  },
  "module": {
    "type": "commonjs",
    "strict": true,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  },
  "sourceMaps": true,
  "minify": false
}